* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100%;
}

.main-container {
    padding-top: 0px;
}

/* Navbar */

/* Hero */
.hero-image {
    position: relative;
}

.jumbotron-fluid {
    width: 100%;   
    padding: 0 60px 80px 60px;
    margin-bottom: 30px;
    background-image: url('../images/Joining.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron-fluid h1 {
    font-size: 50px;
    color: #1A1A1A;
    text-align: center;
    margin-top: 90px;
}

.jumbotron-fluid p {
    font-size: 25px;
    font-weight: 400;
    color: #1a1a1a;
    text-align: center;
    margin-top: 10px;
    padding: 0;
}

/* Portfolio Gallery */
#tagline {
    margin: 15px 0 20px;
    padding: 5px;
}
.portfolio {
    margin: 60px 0 15px 0;
}

.portfolio p {
    font-weight: 500;
    font-size: 17px;
}

.gallery h4 {
    padding: 80px 60px;
    text-anchor: middle;
}

img {
    margin-bottom: 60px;
}

/* About Me */
.aboutMe {
    margin: 60px 0 15px 0;
}

.aboutMe p {
    font-weight: 500;
    font-size: 17px;
}

/* Contact Me Section */
.contactMe {
    margin: auto 0;
}
.contactMe p {
    font-weight: 500;
    font-size: 17px;
}

.fontAwes {
    margin: 60px 20px;
    size: 150%;
}

/* footer */
.footer {
    position: sticky;
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
}

.footer p {
    margin-bottom: 0;
}
