* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100%;
}

.main-container {
    padding-top: 0px;
}

/* Hero */
.hero-image {
    width: 100%;
}

.jumbotron-fluid {
    width: 100%;   
    padding: 100px 60px;
    margin-bottom: 30px;
    background-image: url('../images/My\ Post.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron-fluid h1 {
    font-size: 50px;
    color: #f3f3f3;
    text-align: right;
}

.jumbotron-fluid p {
    font-size: 25px;
    font-weight: 300;
    color: #f3f3f3;
    text-align: right;
}

/* Portfolio Gallery */
.portfolio {
    margin: 60px 0 15px 0;
}
p {
    font-weight: 500;
    font-size: 17px;
}

.gallery h4 {
    padding: 80px 60px;
    text-anchor: middle;
}

img {
    margin-bottom: 60px;
}

/* footer */
.footer {
    position: sticky;
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
}

.footer p {
    margin-bottom: 0;
}

